#card-details-navigation-container {
  width: calc(100% - 1.6rem);
  height: 25rem;
  position: absolute;
  margin-top: 6rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#card-details-navigation-container span {
  color: white;
  font-size: 4rem;
  cursor: pointer;
}

#card-datails-navigation-image img {
  max-height: 25rem;
}
