#card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  row-gap: 6rem;
  width: 100%;
}

@media screen and (min-width: 1444px) {
  #card-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  #card-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
